/* ul{
    display:inline-block;
} */

    .nav-item{
       margin-left: 100px;

}
.image{
    height:35px;
    border-radius:20px;
    
    
}
.carasole{
 background-image: fixed;;
}
.flexiible{
    display :flex;
    justify-content: space-around;
}
.circle{
    border-radius: 100px;
   

}
.fix{
    background-attachment: fixed;
}
.colo_center{

   background-color: black;
    padding-top:10px;
    height:200px;
    padding-top:20px;
    color:white;
}
